body {
  background: url('https://media.giphy.com/media/UF27UFtdKrMl2/giphy.gif') !important;
    background-size: cover;
    height: 100%;
}
 
#masthead,
#primary {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  background-color: #fff;
  padding: 20px !important;
}
#masthead {
  background: none;
}
#masthead img, #primary img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

a { color: fuchsia !important;}
a:hover {color: aqua !important};